<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:ital,wght@0,400;1,300&family=Montserrat:wght@300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Music Feast</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #f6f8fc;">

  <!-- start body -->

  <table border="0" cellpadding="0" cellspacing="0" width="0%"
    style="border: rgb(202, 205, 232) 1px solid;margin: 0 auto;">


    <!-- start hero -->
    <tr>

      <td align="center" bgcolor="black">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
          <tr>
            <td align="left" valign="top" style="padding: 16px 18px;">
              <img style="
              width: 30%;
              height: 30%;
              object-fit: cover;" src="https://www.musicfeast.io/img/logoMF.jpg" alt="Logo" border="0" width="120"
                style="display: block;">
            </td>
          </tr>
          <tr style="background-color: #ff462e;" >
            <td align="left"  valign="top" style="padding: 16px 18px;">
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" bgcolor="#e9ecef">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
          <tr>
            <td align="left" bgcolor="#ffffff"
              style="padding: 36px 24px 0;font-family: Lato; font-size: 18px;  color:  #333; border-top: 0px solid #d4dadf;">
              <p style="margin: 0;text-align: center ;font-family: Lato; font-size: 20px;  color:  #333;"> <b>
                  Music Feast Sign Up</p>
              <p style="margin: 0;">&nbsp;</p>
              <p style="margin: 0;text-align: left ;font-family: Lato; font-size: 14px;  color:  #333;"> <b>
                  Hello There! </p>
              <p style="margin: 0;text-align: left ;font-family: Lato; font-size: 14px;  color:  #333; padding-top: 10px;"> <b>
                  Thanks for signing up for the first Music Feast music production contest! </p>
              <p style="margin: 0;text-align: left ;font-family: Lato; font-size: 14px;  color:  #333; padding-top: 10px;"> <b>
                  We are happy to have you here and know that you will find many things to love about the new music and
                  community-based platform! </p>
              <p style="margin: 0;text-align: left ;font-family: Lato; font-size: 14px;  color:  #333; padding-top: 10px;"> <b>
                  We built Music Feast to create a place where music fans come to join others in the community, show support,
                  interact,
                  obtain valuable collectibles and song ownership options, as well as receive special perks and sneak peeks from
                  their favorite artists and projects.</p>
              <p style="margin: 0;text-align: left ;font-family: Lato; font-size: 14px;  color:  #333; padding-top: 10px;"> <b>
                  More than a platform, Music Feast is a movement that aims to empower artists and reshape the music industry by
                  addressing longstanding
                  issues and providing practical solutions to give artists and fans access as well as ownership over their
                  investments in the music industry. </p>
            
                  <p style="margin: 0; text-align: left; font-family: Lato; font-size: 14px; color: #333; padding-top: 10px;">
                    <b>To complete your contest submission, you will need to do two things: (1) follow our socials here: 
                      <a href="https://www.instagram.com/musicfeast.io/" target="_blank" style="color: #ff462e; text-decoration: none;">Instagram</a>, 
                      <a href="https://twitter.com/musicfeast_io" target="_blank" style="color: #ff462e; text-decoration: none;">Twitter</a>, and 
                      <a href="https://www.facebook.com/musicfeast.io" target="_blank" style="color: #ff462e; text-decoration: none;">Facebook</a>,
                      and (2) make a social post about this contest by sharing the 
                      <a href="https://musicfeast.io/contest/" target="_blank" style="color: #ff462e; text-decoration: none;">contest page </a>
                      and tagging us. We will be in touch
                      about your submission to the contest as we get closer to the end date.
                    </b>
                  </p>
                  
            
              <p style="margin: 0;text-align: left ;font-family: Lato; font-size: 14px;  color:  #333; padding-top: 10px;"> <b>
                  Please reach out to us if you have any questions, or comments as we are artists building this community for
                  artists and welcome your input. </p>
              <p style="margin: 0;text-align: left ;font-family: Lato; font-size: 14px;  color:  #333; padding-top: 10px;"> <b>
                  Sincerely, </p>
                  <p style="margin: 0; text-align: left; font-family: Lato; font-size: 14px; color: #333; padding-top: 15px;">
                    <b>Neal Gustafson <br> Marketing Director<br>
                    <a href="mailto:info@musicfeast.io" style="color: #ff462e; text-decoration: none;">info@musicfeast.io</a>
                  </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    </tr>
    <!-- end hero -->





    

    <!-- start footer -->
    <tr>
      <td align="center" bgcolor="#e9ecef" style="padding: 0px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">

          <!-- start permission -->
          <tr>
            <td align="center" bgcolor="#ffffff"
              style="padding: 32px 24px; font-family: Lato; font-size: 14px; line-height: 20px; color: #333;border-top: 0px solid #333;">
              <p style="margin: 0; text-align: left; font-family: Lato; font-size: 14px; color: #333; padding-top: 10px;">
                <b>
                  <a href="https://www.musicfeast.io/about?utm_source=News&utm_medium=Press_Release&utm_campaign=MusicProductionContest2023&utm_term=MusicFeast" target="_blank" style="color: #ff462e; text-decoration: none;">Website </a> | 
                  <a href="https://www.instagram.com/musicfeast.io/" target="_blank" target="_blank" style="color: #ff462e; text-decoration: none;">Instagram</a> |  
                  <a href="https://twitter.com/musicfeast_io" target="_blank" style="color: #ff462e; text-decoration: none;">Twitter</a> | 
                  <a href="https://www.facebook.com/musicfeast.io" target="_blank" style="color: #ff462e; text-decoration: none;">Facebook</a> | 
                  <a href="https://www.linkedin.com/company/music-feast" target="_blank" style="color: #ff462e; text-decoration: none;">LinkedIn </a>
                </b>
              </p>
              <p style="margin: 0;text-align: left ;">© 2023 Everywhere Eats Entertainment LP. All rights reserved.</p>
            </td>
          </tr>
          <!-- end permission -->

        </table>
      </td>
    </tr>
    <!-- end footer -->

  </table>
  <!-- end body -->

</body>